<form [formGroup]="duckyForm" class="form-container" (submit)="saveDucky()">
  <h2>
    {{(isUpdate()) ? "Editar" : "Nuevo"}} Patito
  </h2>

  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input formControlName="id" matInput readonly>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="isUpdate()">
    <mat-label>Color</mat-label>
    <input formControlName="color" readonly matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="isUpdate()">
    <mat-label>Size</mat-label>
    <input formControlName="size" readonly matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="!isUpdate()">
    <mat-label>Color</mat-label>
    <mat-select formControlName="color">
      <mat-option value="Red">Rojo</mat-option>
      <mat-option value="Yellow">Amarillo</mat-option>
      <mat-option value="Green">Verde</mat-option>
      <mat-option value="Black">Negro</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" *ngIf="!isUpdate()">
    <mat-label>Tamaño</mat-label>
    <mat-select formControlName="size">
      <mat-option value="XLarge">XLarge</mat-option>
      <mat-option value="Large">Large</mat-option>
      <mat-option value="Medium">Medium</mat-option>
      <mat-option value="Small">Small</mat-option>
      <mat-option value="XSmall">XSmall</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input formControlName="price" type="number" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cantidad</mat-label>
    <input formControlName="quantity" type="number" matInput>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" type="submit">
      {{isUpdate() ? "Actualizar" : "Crear"}} Patito
    </button>

    <button mat-raised-button color="primary"
            type="submit"
            [routerLink]="['list']">
      Atrás
    </button>
  </div>

</form>
