.button-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.title {
  text-align: center;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.table-container{
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.table-container th, td {
  text-align: center;
}

.list-container {
  padding: 10px;
}
